extends ../views/layout/common.pug 

block content
  h1(class="tieude") Blog Nguyen Minh Thao
  img(src="/image/IMG_3670.PNG", alt="anh thao" height="400" width="300" border-radius="50%")

    
    
        